/bower-components
.DS_Store
figwheel_server.log
*jar
*.psd
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.repl
.nrepl-port
.sass-cache/
node_modules/

# User-specific stuff:
.idea/tasks.xml
.idea/dictionaries
www.predict.nhs.uk/js/compiled/predict3.js

.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
bower_components
*~
.#*
~*
.idea/inspectionProfiles/
tmp/
.lein-git-deps/
.idea/
predict3.iml
src/cards/#side_panel.cljs#
wireframes/Rectangle 2.png
wireframes/Treatments.png
wireframes/artboards/
wireframes/export/
wireframes/wire2.xd
wireframes/wire3.xd
!/defunct/react-numeric-input.min.js
!/resources/public/js/predict2-model.js
/yarn-error.log
/Predict 23 May/
Archive-wget
argive-new
Archive
defunct/
to-rosemarie.tgz
www.predict.nhs.uk/js/compiled/out
www.predict.nhs.uk/js/compiled/min
www.predict.nhs.uk/js/compiled/prod-edit
www.predict.nhs.uk
docs/*.htaccess
*.iml
pom.xml

resources/public/js/compiled/out/
resources/public/js/compiled/min/

/resources/public/js/compiled/
.cpcache/
cljs-test-runner-out/
.cljs_node_repl


/functional_eg

__pycache__/
geckodriver.log
.nvmrc

.python-version

.temp_exclude_list
.vscode
*.orig
www.predict.nhs.uk/