appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
certifi==2019.6.16
chardet==3.0.4
decorator==4.4.0
idna==2.8
importlib-metadata==0.19
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.14.1
more-itertools==7.2.0
packaging==19.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.0.1
pytest-base-url==1.4.1
pytest-html==1.21.1
pytest-metadata==1.8.0
pytest-selenium==1.17.0
pytest-variables==1.7.1
requests==2.22.0
selenium==3.141.0
six==1.12.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webcolors==1.9.1
zipp==0.5.2
